.form_error {
    border-bottom-color: red !important;
}

.footer .subscribe_widgets button[type="submit"] {
    height: 54px;
    color: #ffffff;
    line-height: 54px;
    background: #8180e0;
    border: none;
    outline: none;
    font-weight: 700;
    font-size: 17px;
    border-radius: 3px;
    cursor: pointer;
    padding: 0 35.5px;
    margin-top: 15px;
    transition: all ease 400ms;
    -webkit-transition: all ease 400ms;
    -moz-transition: all ease 400ms;
    -webkit-box-shadow: 0px 0px 22px 0px rgb(129 128 224 / 17%);
    -moz-box-shadow: 0px 0px 22px 0px rgba(129, 128, 224, 0.17);
    box-shadow: 0px 0px 22px 0px rgb(129 128 224 / 17%);
}
.f-17 {
    font-size: 17px !important;
}

.f-sz {
    font-size: 17px ;
}
@media (min-width: 768px) and (max-width: 991px){
    .f-sz {
        font-size: 13px ;
    }
    .footer_2 .about_widgets p {
        color: #383c5e;
        font-size: 15px ;
    }
    .footer_ps p{
        font-size: 15px ;
    }
    .footer_2 .subscribe_widgets input[type="text"], .footer_2 .subscribe_widgets input[type="email"] {
        color: #606378;
        height: 45px;
        line-height: 60px;
        margin-bottom: 20px;
    }
}
@media screen and (max-width: 767px){
    .f-sz {
        font-size: 15px ;
    }
}
table#footer_table, table#footer_table td, table#footer_table th{
    vertical-align: text-top !important;
}
